page-forgot-pwd {
  .logo_img{
    width: 80px;
    height: 80px;
    border-radius: 80px;
    /// 居中显示
    display: block;
    margin: 0 auto;
  }
  ion-row{
    border-bottom: 1px solid #488aff;
  }

}
